@import url('../form/__input/form__input.css');
@import url('../form/__input_type_about/form__input_type_about.css');
@import url('../form/__input_type_name/form__input_type_name.css');
@import url('../form/__title/form__title.css');


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}





