@import url('./__avatar/profile__avatar.css');
@import url('./__info-container/profile__info-container.css');
@import url('./__about/profile__about.css');
@import url('./__title-container/profile__title-container.css');
@import url('./__name/profile__name.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__add-button/profile__add-button.css');



.profile {
  margin: 36.25px auto 0 auto;
  display: flex;
  align-items: center;
}


/* tablet */
@media screen and (max-width: 882px) {
  .profile {
    flex-direction: column;
     }
}


