@import url('./__logo/header__logo.css');

.header {
  max-width: 882px;
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #545454;
  margin: 45px auto 0
}



/* tablet */
@media screen and (min-width: 600px) and (max-width: 880px) {
  .header {
    max-width: 600px;
    width: 100%;
  }



}

/* mobile */
@media screen and (max-width: 599px) {
  .header {
    max-width: 320px;
    width: 100%;
  }
}
