

.modal__close-button {
  background-image: url("../../../images/close.svg");
  background-color: transparent;
  width: 40.7px;
  height: 40.7px;
  margin-left: auto;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.modal__close-button:hover {
  opacity: .6;
}

