.modal__container {
  position: absolute;
  width: 430px;
  height: 330px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  }
  
  
  /* wide-screen */
  @media screen and (min-width: 1280px) {
    .modal__container {
      margin-right: 15%;
    }
  }
  
  
  /* tablet */
  @media screen and (min-width: 600px) and (max-width: 880px) {
      .modal__container {
      margin-left: 8%;
    }
  }
  
  
  /* mobile */
  @media screen and (max-width: 599px) {
      .modal__container {
      width: 68%;
      margin-right: 8%;    
    }
  }