

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 0;
  margin-bottom: 0;
}


/* mobile */
@media screen and (min-width: 300px) and (max-width: 599px) {

 .footer__copyright {
   font-size: 14px;
   line-height: 17px;
 }
 
}