.modal__container_type_image {
  width: 433px;
  height: 540px;
  position: absolute;
  background: none;
}

 /* mobile */
 @media screen and (max-width: 599px) {
  .modal__container_type_image {
   /* max-width: 75vw;
  max-height: 75vh; */
  max-width: 240px;
  max-height: 299px;
}
}