.modal__container_type_image {
  width: 433px;
  height: 540px;
  position: absolute;
  background: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 75vw;
  max-height: 75vh;
}

 /* mobile */
 @media screen and (max-width: 599px) {
  .modal__container_type_image {
 
  width: 240px;
  height: 299px;
}
}