@import url('./__container/modal__container.css');
@import url('./__close-button/modal__close-button.css');
@import url('./__container/_type/modal__container_type_image.css');
@import url('./__image/modal__image.css');
@import url('./__image/modal__image-title.css');
@import url('./__figure/modal__figure.css');


.modal {
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0; 
  transition: visibility 0s, opacity 0.5s linear;
}


