@import url('../vendor/fonts/fonts.css');
@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/page/page.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/modal/modal.css');
@import url('../blocks/modal/_opened/modal_opened.css');
@import url('../blocks/form/form.css');
@import url('../blocks/button/button.css');
@import url('../blocks/content/content.css');





