@import url('../vendor/fonts/fonts.css');
@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/page/page.css');


.content {


}


.profile {
  margin: 36.25px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
}


.profile__avatar {
  width: 127.5px;
  height: 127.5px;
  border-radius: 100%;
  margin-right: 30px;
}

.profile__text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: auto;
}

.profile__title-container {
  display: flex;
  flex-wrap: nowrap;
}


.profile__title {
  width: 380px;
  height: 43px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
 
}

.profile__subtitle {
  width: 318px;
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}













.elements {
  margin-top: 47.25px;


}


.elements__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}


.elements__item {
  margin-right: 18px;
  margin-bottom: 18px;
  max-width: 282px;
  width: 100%;




}

.elements__item:nth-child(3n+3)  {
  margin-right: 0;
}



.elements__image {
  background-position:center;
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.elements__description {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  height: 79px;
  justify-content: space-between;
 
}

.elements__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 21px;
}


.elements__like-icon {
  align-self: center;
  background: transparent;
  margin-right: 21px;
}


.footer {
  margin-top: 48px;
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}


.modal__container {
position: absolute;
width: 430px;
height: 330px;
left: 425px;
top: 195px;
background: #fff;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}




.modal__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;  
  color: #000;
  width: 330px;
  margin-top: 34px;
  margin-bottom: 0;
  /* position: relative;
  text-align: left; */
   

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;




}


.form__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border bottom: 1px solid #000000;
  opacity: 0.2;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 358px;
  height: 27.26px;
   
   
  
}

.form__input_type_name {
  margin-top: 54px;
}


.form__input_type_about {
  margin-top: 29.74px;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  opacity:.5;
  transition: .3s ease-in;
}

.button__add {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  background-image: url("../images/add.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.button__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #816f6f;
  box-sizing: border-box;
  background: transparent;
  background-image: url("../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 22px 24px;
}

.button__save {
  width: 358px;
  height: 50.15px;
  background: #000000;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 48px;
  border: none;
 
}

.button__close {
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  width: 40.7px;
  height: 40.7px;
  margin-left: auto;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}








/* mobile */
@media screen and (min-width: 320px) and (max-width: 435px) {
  
}
