@import url('../vendor/fonts/fonts.css');
@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/page/page.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/footer/footer.css');




.modal {
  background-color: rgba(0, 0, 0, .5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
}

.modal_opened {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  display:none;
}


.modal__container {
position: absolute;
width: 430px;
height: 330px;
background: #fff;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}


.modal__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;  
  color: #000;
  width: 330px;
  margin-top: 34px;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border bottom: 1px solid #000000;
  opacity: 0.2;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 358px;
  height: 27.26px;
}

.form__input_type_name {
  margin-top: 54px;
  color: #000;
}


.form__input_type_about {
  margin-top: 29.74px;
  color: #000;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
 transition: .3s ease-in;
}

.button__add {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  background-image: url("../images/add.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.button__add:hover {
  opacity: .6;
}

.button__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #816f6f;
  box-sizing: border-box;
  background: transparent;
  background-image: url("../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 22px 24px;
}

.button__edit:hover {
  opacity: .6;
}

.button__save {
  width: 358px;
  height: 50.15px;
  background: #000000;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 
}

.button__save:hover {
  opacity: .8;

}

.button__close {
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  width: 40.7px;
  height: 40.7px;
  margin-left: auto;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.button__close:hover {
  opacity: .6;
}

.content {
  margin: 0 auto;
}



/* tablet */
@media screen and (min-width: 600px) and (max-width: 880px) {
  .content {
    margin: 0 auto;
  }

}


/* mobile */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .content {
    max-width: 320px
  }

  .button__add {
    width: 282px;
  }

  .profile__title-container {

    margin-top: 17px;
  }
  
}
