@import url('../footer/__copyright/footer__copyright.css');



.footer {
  margin: 48px auto 60px;
  max-width: 882px;
  width: 100%;
}



/* tablet */
@media screen and (min-width: 600px) and (max-width: 882px) {
  .footer {
    max-width: 600px;
    margin: 18px auto 35px;
  }
}


/* mobile */
@media screen and (min-width: 320px) and (max-width: 599px) {
   .footer {
    margin: 28px auto 30px;
    max-width: 282px;;
  }
  
}