@import url('../footer/__copyright/footer__copyright.css');



.footer {
  margin: 48px auto 0;
  max-width: 882px;
  width: 100%;
}



/* tablet */
@media screen and (min-width: 600px) and (max-width: 882px) {
  .footer {
    margin: 48px auto 0;
    max-width: 600px;
    width: 100%;
  }
}


/* mobile */
@media screen and (min-width: 320px) and (max-width: 599px) {
   .footer {
    margin: 40px auto 30px;
    max-width: 282px;;
    width: 100%;
  }
  
}