.button_edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: transparent;
  background-image: url("../../../images/edit.svg");
  margin: 20px 24px 0;
  background-repeat: no-repeat;
  background-position: center;
}

.button_edit:hover {
  opacity: .6;
}

/* tablet */
@media screen and (min-width: 600px) and (max-width: 882px) {
  .button_edit  {
    margin-top: 16px;
  }
}
  
  
  /* mobile */
  @media screen and (max-width: 599px) {
    .button_edit {
      margin-top: 15px;
      margin-right: auto;
    }
  }