@import url('./__add/button__add.css');
@import url('./__close/button__close.css');
@import url('./__edit/button__edit.css');
@import url('./__save/button__save.css');

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
 }

